<div class="container" style="padding-top: 100px">
    <div class="slice slice-sm">
      <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>
  
      <div class="row justify-content-center" *ngIf="checkData(data)">
        <div
          class="col-12 col-sm-12 col-md-6 mb-5"
          *ngFor="let item of data; let i = index"
        >
          <mat-card class="example-card mb-3">
            <mat-card-header>
              <img
                mat-card-image
                class="pl-2 card-image pr-4"
                src="{{ baseImgUrl + item.covermedia }}"
                alt="{{ item.title }}"
                [routerLink]="['/issues-details', item._id]"
              />
              <mat-card-title [routerLink]="['/issues-details', item._id]">{{ item.title }}</mat-card-title>          
              <mat-card-subtitle><p>{{ item.description }}</p></mat-card-subtitle>
              <mat-card-title>
                <mat-card-actions>
                  <button mat-icon-button class="buy-icon" color="basic" aria-label="buy" >
                    <mat-icon>shopping_cart</mat-icon>
                    <span>Buy Now</span>
                  </button>
                  <button mat-icon-button class="wishlist-icon" color="basic" aria-label="Wishlist" *ngIf="!wishlisted" (click)="AddtoWishlist()">
                    <mat-icon>favorite_border</mat-icon>
                    <span>Wishlist</span>
                  </button>
                  <button mat-icon-button class="wishlist-icon" color="basic" aria-label="Wishlist" *ngIf="wishlisted" (click)="AddtoWishlist()">
                    <mat-icon>favorite</mat-icon>
                    <span>Wishlist</span>
                  </button>
                </mat-card-actions>
              </mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  