
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img src="../../../assets/images/logo.jpeg" alt="alternative"></a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fa fa-bars"></span>
            <span class="navbar-toggler-awesome fa fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#search" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">SEARCH</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#search-title"><span class="item-text">SEARCH TITLES</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="#search-character"><span class="item-text">SEARCH CHARACTERS</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#alerts">ALERTS, NEWS & UPDATES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#recent">RECENTLY ADDED</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#variants">VARIANTS</a>
                </li>

                <li class="nav-item">
                    <a href="#subscribe" class="nav-link d-lg-none page-scroll">SUBSCRIBE</a>
                    <a href="#subscribe" class="nav-link page-scroll d-none d-lg-inline-flex btn-nav">
                        <span class="pr-2"><i class="fa fa-shopping-cart"></i></span>
                        <span class="pr-1">SUBSCRIBE</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#login" class="nav-link d-lg-none page-scroll">LOGIN</a>
                    <a href="#login" class="nav-link page-scroll d-none d-lg-inline-flex btn-nav">
                        LOGIN
                    </a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->