<div class="container" style="padding-top: 100px">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" (click)="backLanding()"
        ><mat-icon>arrow_back</mat-icon></a
      >
    </div>
    <mat-card class="example-card">
      <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()">
        
        <!-- Add Publisher Select -->

        <!-- Add Series Select -->

        <div class="form-group rowdg">
          <div class="col-md-5">
            <mat-label>Title</mat-label>
          </div>
          <div class="col-md-6">
            <input
              matInput
              placeholder="Title"
              formControlName="title"
              [errorStateMatcher]="matcher"
              class="form-control"
            />
            <mat-error>
              <span
                *ngIf="
                  !bookForm.get('title').valid &&
                  bookForm.get('title').touched
                "
                >Please enter title</span
              >
            </mat-error>
          </div>
        </div>

        <!-- Modify to select Year and Month -->
        <div class="form-group rowdg">
            <div class="col-md-5">
              <mat-label>Year</mat-label>
            </div>
            <div class="col-md-6">
              <input
                matInput
                placeholder="Year"
                formControlName="year"
                [errorStateMatcher]="matcher"
                class="form-control"
              />
              <mat-error>
                <span
                  *ngIf="
                    !bookForm.get('year').valid &&
                    bookForm.get('year').touched
                  "
                  >Please enter year</span
                >
              </mat-error>
            </div>
          </div>
  
        <div class="form-group rowdg">
          <div class="col-md-5">
            <mat-label>Cover Media</mat-label>
          </div>
          <!-- File Input -->
          <div class="col-md-6">
            <input
              type="file"
              (change)="selectedImage($event)"
              accept="image/*"
            />
          </div>
        </div>

        <!-- Adding characters by seperated comma -->
        <div class="form-group rowdg">
            <div class="col-md-5">
              <mat-label>Characters<br/><p>(Add character names seperated with comma ' , ')</p></mat-label>
            </div>
            <div class="col-md-6">
              <textarea
                matInput
                placeholder="Characters"
                formControlName="char"
                class="form-control">
                </textarea>
            </div>
        </div>

        <div class="form-group rowdg">
            <div class="col-md-5">
              <mat-label>Description</mat-label>
            </div>
            <div class="col-md-6">
              <textarea
                matInput
                placeholder="Description"
                formControlName="desc"
                class="form-control">
            </textarea>
            </div>
        </div>

        <div class="form-group rowdg">
            <div class="col-md-5">
              <mat-label>Writer</mat-label>
            </div>
            <div class="col-md-6">
              <input
                matInput
                placeholder="Writer"
                formControlName="writer"
                class="form-control"
              />
            </div>
        </div>

        <div class="form-group rowdg">
            <div class="col-md-5">
              <mat-label>Artist</mat-label>
            </div>
            <div class="col-md-6">
              <input
                matInput
                placeholder="Artist"
                formControlName="artist"
                class="form-control"
              />
            </div>
        </div>

        <div class="form-group rowdg">
            <div class="col-md-5">
              <mat-label>Illustrated</mat-label>
            </div>
            <div class="col-md-6">
              <input
                matInput
                placeholder="Illustrated"
                formControlName="illustrated"
                class="form-control"
              />
            </div>
        </div>
  
        <div class="form-group rowdg">
          <!-- Image Preview -->
          <div class="col-md-5">
            <mat-label>Preview</mat-label>
          </div>
          <div class="col-md-6" *ngIf="preview && preview !== null">
            <img [src]="preview" [alt]="bookForm.value.covermedia" />
          </div>
        </div>
  
        <button
          type="submit"
          [disabled]="!bookForm.valid"
          mat-flat-button
          color="primary"
        >
          SAVE
        </button>
      </form>
    </mat-card>
  </div>
  