<!-- Main home page header -->
<section class="slice slice-lg header-main">
  <div class="container-fluid bg-cover">
    <div class="row hero-row">
      <div class="col col-lg-7 landing-logo">
        <div class="row text-left">
          <div class="col col-lg-8">
            <!-- <img
              src="https://media.keycollectorcomics.com/static/img/brand/text_logo.2699c36c5587.png"
              class="text-logo"
            /> -->
            <h1 class="text-logo">
              CBNS COMIC HUNTERS
            </h1>
            <h2 class="lead text-white mt-4">
              The World’s Most Comprehensive Database &amp; Price Guide of Key
              Issues!
            </h2>
            <div class="mt-3 mb-5 d-lg-none">
              <h3 class="text-white">Download the FREE app now!</h3>
              <a
                href="https://itunes.apple.com/us/app/key-collector-comics-app/id1189623811?mt=8"
              >
                <img
                  src="https://media.keycollectorcomics.com/static/img/svg/ios_app_store.2928664fe1fc.svg"
                  class="store-logo"
                />
              </a>
              <a
                href="https://play.google.com/store/apps/details?id=com.keycollectorcomics.keycollector&amp;hl=en_US"
              >
                <img
                  src="https://media.keycollectorcomics.com/static/img/brand/google-play-badge.ad4961d00882.png"
                  class="store-logo"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="d-none d-lg-block col-lg-8 mt-3">
            <h2 class="text-white mb-3">Download the FREE app now!</h2>
            <a
              href="https://itunes.apple.com/us/app/key-collector-comics-app/id1189623811?mt=8"
            >
              <img
                src="https://media.keycollectorcomics.com/static/img/svg/ios_app_store.2928664fe1fc.svg"
                class="store-logo"
              />
            </a>
            <a
              href="https://play.google.com/store/apps/details?id=com.keycollectorcomics.keycollector&amp;hl=en_US"
            >
              <img
                src="https://media.keycollectorcomics.com/static/img/brand/google-play-badge.ad4961d00882.png"
                class="store-logo"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="d-none col-lg-3 d-lg-block align-self-end mt-3">
        <img
          src="https://media.keycollectorcomics.com/static/img/brand/key-collector-iphone.d2af4e148538.png"
          class="landing-phone"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Main Header -->

<!-- Search section -->
<section class="slice slice-sm bg-section-secondary pt-5">
  <div class="container">
    <h2 class="text-center text-section">SEARCH OPTIONS</h2>
    <hr class="section-divider -faded-edges" />
    <div class="slice slice-sm">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-5 col-md-6 col-lg-3 btn-search">
          <a [routerLink]="['/series']" class="btn btn-block">Search Titles</a>
        </div>
        <div class="col-12 col-sm-5 col-md-6 col-lg-3 btn-search">
          <a href="/search-characters/" class="btn btn-block mt-2 mt-sm-0"
            >Search Characters</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End search section -->

<!-- Category section -->
<section class="slice slice-sm bg-section-secondary">
  <div class="container">
    <h2 class="text-center text-section">PUBLISHERS</h2>
    <hr class="section-divider -faded-edges" />
    <div class="slice slice-sm">
      <div class="example-loading-shade" *ngIf="isLoadingCats">
        <mat-spinner *ngIf="isLoadingCats"></mat-spinner>
      </div>

      <div class="row justify-content-center" *ngIf="checkData(dataCat)">
        <div
          class="product"
          *ngFor="let item of dataCat; let i = index"
        >
          <div class="product-card">
            <div class="mb-2">
              <a [routerLink]="['/publisher/series', item._id]">
                <img class="img-fluid" [src]="baseImgUrl + item.covermedia"/>
              </a>
              </div>
            <div class="product-info text-center mt-2">
              <a [routerLink]="['/publisher/series', item._id]" class="">
                <h5>{{ item.title }}</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Category section -->

<!-- Category section -->
<section class="slice slice-sm bg-section-secondary">
  <div class="container">
    <h2 class="text-center text-section">TRENDING ISSUES</h2>
    <hr class="section-divider -faded-edges" />
    <div class="slice slice-sm">
      <div class="row justify-content-center"></div>
    </div>
  </div>
</section>
<!-- End Category section -->
