.card-image {
    height: 150px;
    width: 150px;
    position: absolute;
}

.header-txt,
mat-card-subtitle,
mat-card-title {
    color: black;
}

h4, h6 {
    color: black;
}

mat-card-title {
    font-size: 22px; 
    font-weight: 500;
    margin-left: 25%;
}

td {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

td a {
    color: rgb(19, 34, 124);
    font-size: 16px;
}

.td-txt, mat-card-subtitle {    
    font-size: 16px;    
    font-weight: 400;
    margin-left: 25%;
}
mat-card-header{
    display: flex;
}
mat-raised-button{
    border: 0px 0px 0px 0px;
    outline: none;
}
.mat-raised-button
{
    border: 0px 0px 0px 0px;
    outline: none;  
}
.mat-icon-button
{
    margin-left: 15%;
    outline: none;  
}