<div class="container" style="padding-top: 100px">
  <div class="row justify-content-center slice">
    <div class="example-loading-shade" *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <div class="col-12 col-xl-6 mb-3" *ngIf="!isLoading">    
      <!-- <div class="mb-3" style="text-align: center;">
        <h3>Details</h3>
      </div> -->

      <mat-card class="example-card mb-3">
        <mat-card-header>
          <img
            mat-card-image
            class="pl-2 card-image pr-4"
            src="{{ data.covermedia }}"
            alt="{{ data.title }}"
          />
          <mat-card-title>{{ data.title }}</mat-card-title>          
          <mat-card-subtitle><p>{{ data.description }}</p></mat-card-subtitle>
          <mat-card-title>
            <mat-card-actions>
              <button mat-icon-button class="buy-icon" color="basic" aria-label="buy" >
                <mat-icon>shopping_cart</mat-icon>
                <span>Buy Now</span>
              </button>
              <button mat-icon-button class="wishlist-icon" color="basic" aria-label="Wishlist" *ngIf="!wishlisted" (click)="AddtoWishlist()">
                <mat-icon>favorite_border</mat-icon>
                <span>Wishlist</span>
              </button>
              <button mat-icon-button class="wishlist-icon" color="basic" aria-label="Wishlist" *ngIf="wishlisted" (click)="AddtoWishlist()">
                <mat-icon>favorite</mat-icon>
                <span>Wishlist</span>
              </button>
            </mat-card-actions>
          </mat-card-title>
        </mat-card-header>
      </mat-card>

      <mat-card class="example-card mb-3">
        <mat-card-subtitle class="nomar"><p>{{ data.description }}</p></mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card mb-3">
        <mat-card-content class="card-content">
          <table class="table">
            <tbody>
              <tr>
                <td>Publisher</td>                
                <td class="td-txt">{{ data.publisher }}</td>
                <!-- <td>
                  <a href="">{{ data.publisher }}</a>
                </td> -->
              </tr>
              <tr>
                <td>Published Year</td>
                <td class="td-txt">{{ data.year }}</td>
              </tr>
              <tr>
                <td>Written By</td>
                <td class="td-txt">{{ data.writer }}</td>
              </tr>
              <tr>
                <td>Illustrated By</td>
                <td class="td-txt">{{ data.illustrated }}</td>
                <!-- <td>
                  <a href="">{{ data.illustrated }}</a>
                </td> -->
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
