<div class="container" style="padding-top: 100px">
  <div class="slice slice-sm">
    <div class="example-loading-shade" *ngIf="isLoading">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <div>
      <h3>Book Details</h3>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="header-txt">
          <h4>Title</h4>
          <h6>{{ data.title }}</h6>
        </mat-card-title>
      </mat-card-header>
      <div class="pl-4 pt-2">
        <img
          mat-card-image
          class="pl-2 card-image"
          src="{{ data.covermedia }}"
          alt="{{ data.title }}"
        />
        <mat-card-content class="card-content">
          <dl>
            <dt>Publisher</dt>
            <dd>{{ data.publisher }}</dd>
            <dt>Description</dt>
            <dd>{{ data.description }}</dd>
            <dt>Year</dt>
            <dd>{{ data.year }}</dd>
            <dt>Writer</dt>
            <dd>{{ data.writer }}</dd>
            <dt>Illustrated</dt>
            <dd>{{ data.illustrated }}</dd>
          </dl>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
